/* components/Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    font-size: 10px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 1px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    gap: 8px;
}

.footer-bottom {
    text-align: center ;
    padding-top: 6px;
    border-top: 1px solid #444;
}
